contrib/index_search/index_test/perbase.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.gonicus.de/Objects" xmlns:exslt="http://exslt.org/common" xmlns:g="http://www.gonicus.de/Objects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" targetNamespace="http://www.gonicus.de/Objects">
	<xsd:element name="User" type="User"/>
	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="User" type="User" />
			<xsd:element name="parent_dn" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="parent_bases" type="parent_bases" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="UUID" type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="1" name="Type" type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="1" name="DN" type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="1" name="LastChanged" type="xsd:dateTime" />
			<xsd:element maxOccurs="1" minOccurs="0" name="Extensions" type="Extensions" />
			<xsd:element maxOccurs="1" minOccurs="0" name="Container" type="xsd:string" />
			<xsd:element name="Attributes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxCallback" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxCallbackNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxCfgFlags1" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxCfgPresent" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxInitialProgram" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxKeyboardLayout" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxMaxConnectionTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxMaxDisconnectionTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxMaxIdleTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxMinEncryptionLevel" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxNWLogonServer" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxShadow" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxWFHomeDir" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxWFHomeDirDrive" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxWFProfilePath" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="CtxWorkDirectory" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_brokenConn" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_connectClientDrives" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_connectClientPrinters" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_defaultPrinter" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_inheritMode" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_reConn" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_flag_tsLogin" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ctx_shadow" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_MNSLogonAccount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_accountDisabled" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_homeDirectoryRequired" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_interDomainTrust" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_isAutoLocked" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_normalUserAccount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_passwordDoesNotExpire" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_passwordNotRequired" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_serverTrustAccount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_temporaryDuplicateAccount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="acct_worktstationTrustAccount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="audio">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="businessCategory" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="carLicense" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="cn" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="departmentNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="description" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="destinationIndicator" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="displayName" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="employeeNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="employeeType" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="facsimileTelephoneNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="gecos" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="gidNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="givenName" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="homeDirectory" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="homePhone" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="homePostalAddress" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="initials" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="internationaliSDNNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="isLocked" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="jpegPhoto">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="l" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="labeledURI" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="loginShell" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="mail" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="manager" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="mobile" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="o" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="oldStorageBehavior" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="ou" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="pager" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="passwordMethod" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="photo">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="physicalDeliveryOfficeName" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBox" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="postalAddress" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="postalCode" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="preferredDeliveryMethod" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="preferredLanguage" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="registeredAddress" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="roomNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaAcctFlags" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaBadPasswordCount" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaBadPasswordTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaDomainName" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaHomeDrive" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaHomePath" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaKickoffTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaLMPassword" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaLogoffTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaLogonHours" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaLogonScript" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaLogonTime" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaMungedDial" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaNTPassword" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaPasswordHistory" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaPrimaryGroupSID" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaProfilePath" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaPwdCanChange" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaPwdLastSet" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaPwdMustChange" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaSID" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sambaUserWorkstations" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="secretary" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="seeAlso" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowExpire" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowFlag" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowInactive" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowLastChange" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowMax" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowMin" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="shadowWarning" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sn" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="st" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="street" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="teletexTerminalIdentifier" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="telexNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="title" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="uid" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="uidNumber" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="userCertificate">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="userPKCS12">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="userPassword" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="userSMIMECertificate">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="base64" type="xsd:boolean" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="x121Address" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="x500uniqueIdentifier" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Extensions">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Extension" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="parent_bases">
		<xsd:sequence>
			<xsd:element name="base" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
