contrib/xmldbs/objects.xsd

<xsd:schema xmlns:g="http://www.gonicus.de/Objects" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gonicus.de/Objects" targetNamespace="http://www.gonicus.de/Objects" elementFormDefault="qualified">
  <xsd:complexType name="Extensions">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Extension" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PeopleContainer" type="PeopleContainer"/>
  <xsd:complexType name="PeopleContainer">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="GenericUser" type="GenericUser"/>
  <xsd:complexType name="GenericUser">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="businessCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="carLicense" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="departmentNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="destinationIndicator" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="displayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="employeeNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="employeeType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="facsimileTelephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="givenName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="homePhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="homePostalAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="initials" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="internationaliSDNNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isLocked" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="jpegPhoto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="l" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="labeledURI" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mobile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="o" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="pager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="passwordMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="photo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="physicalDeliveryOfficeName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postOfficeBox" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="preferredDeliveryMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="preferredLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="registeredAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="roomNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="secretary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="seeAlso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="st" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="street" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="teletexTerminalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telexNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="uid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="userCertificate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="userPKCS12" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="userPassword" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="userSMIMECertificate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="x121Address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="x500uniqueIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PosixUser" type="PosixUser"/>
  <xsd:complexType name="PosixUser">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gecos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gidNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="homeDirectory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="loginShell" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowExpire" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowInactive" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowLastChange" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowMax" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowMin" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="shadowWarning" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="uid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="uidNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PosixGroup" type="PosixGroup"/>
  <xsd:complexType name="PosixGroup">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gidNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="memberUid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="SambaDomain" type="SambaDomain"/>
  <xsd:complexType name="SambaDomain">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sambaAlgorithmicRidBase" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaDomainName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaForceLogoff" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLockoutDuration" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLockoutObservationWindow" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLockoutThreshold" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLogonToChgPwd" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaMaxPwdAge" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaMinPwdAge" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaMinPwdLength" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaNextRid" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaNextUserRid" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPwdHistoryLength" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaRefuseMachinePwdChange" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaSID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Country" type="Country"/>
  <xsd:complexType name="Country">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="c" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="GroupContainer" type="GroupContainer"/>
  <xsd:complexType name="GroupContainer">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="SambaGroup" type="SambaGroup"/>
  <xsd:complexType name="SambaGroup">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gidNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaDomainName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaGroupType" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaSID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="DomainComponentOrg" type="DomainComponentOrg"/>
  <xsd:complexType name="DomainComponentOrg">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Organization" type="Organization"/>
  <xsd:complexType name="Organization">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="businessCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="destinationIndicator" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="facsimileTelephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="internationaliSDNNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="l" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="o" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="physicalDeliveryOfficeName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postOfficeBox" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="preferredDeliveryMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="registeredAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="searchGuide" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="seeAlso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="st" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="street" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="teletexTerminalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telexNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="userPassword" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="x121Address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Domain" type="Domain"/>
  <xsd:complexType name="Domain">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="OrganizationalUnit" type="OrganizationalUnit"/>
  <xsd:complexType name="OrganizationalUnit">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="businessCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="facsimileTelephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="l" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="st" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telephoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="DomainComponent" type="DomainComponent"/>
  <xsd:complexType name="DomainComponent">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="SambaUser" type="SambaUser"/>
  <xsd:complexType name="SambaUser">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CtxCallback" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxCallbackNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxCfgFlags1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxCfgPresent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxInitialProgram" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxKeyboardLayout" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxMaxConnectionTime" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxMaxDisconnectionTime" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxMaxIdleTime" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxMinEncryptionLevel" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxNWLogonServer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxShadow" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxWFHomeDir" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxWFHomeDirDrive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxWFProfilePath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CtxWorkDirectory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_brokenConn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_connectClientDrives" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_connectClientPrinters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_defaultPrinter" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_inheritMode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_reConn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_flag_tsLogin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Ctx_shadow" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_MNSLogonAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_accountDisabled" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_homeDirectoryRequired" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_interDomainTrust" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_isAutoLocked" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_normalUserAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_passwordDoesNotExpire" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_passwordNotRequired" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_serverTrustAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_temporaryDuplicateAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="acct_worktstationTrustAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="displayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="oldStorageBehavior" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaAcctFlags" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaBadPasswordCount" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaBadPasswordTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaDomainName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaHomeDrive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaHomePath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaKickoffTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLMPassword" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLogoffTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLogonHours" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLogonScript" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaLogonTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaMungedDial" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaNTPassword" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPasswordHistory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPrimaryGroupSID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaProfilePath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPwdCanChange" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPwdLastSet" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaPwdMustChange" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaSID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sambaUserWorkstations" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="uidNumber" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Locality" type="Locality"/>
  <xsd:complexType name="Locality">
    <xsd:all>
      <xsd:element type="xsd:string" name="UUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="DN" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="LastChanged" minOccurs="1" maxOccurs="1"/>
      <xsd:element type="Extensions" name="Extensions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Attributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="l" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="manager" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ou" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
